<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sonya.grouplockapplication" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/typography_72x72"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseToDoActivity"
            android:label="Home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoadActivity"
            android:label="Load"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LibraryActivity"
            android:label="Library"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".KeysTypeSelectionActivity"
            android:label="@string/title_activity_keys_type_selection"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NumberOfKeysActivity"
            android:label="Step 3/6"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EncrImgAndQr"
            android:label="EncrImg"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DecrImg"
            android:label="DecrImg"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".OpenQrActivity"
            android:label="OpenQrActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".InformationActivity" >
        </activity>
    </application>

</manifest>
